@font-face {
	font-family: "hind";
	src: url(../public/font/Hind\,Roboto/Hind);
	font-family: "hind";
	src: url(../public/font/Hind\,Roboto/Hind);
}
@font-face {
	font-family: "Roboto";
	src: url(../public/font/Hind\,Roboto/Roboto;);
	font-family: "Roboto";
	src: url(../public/font/Hind\,Roboto/Roboto;);
}

:root {
	--primary-color: #9379f8;
	--current-task-color: #f7c860;
	--finished-task-color: #8cd373;
	--title-bg-color: #eaeef8;
	--title-font: Hind, sans-serif;
	--text-font: Roboto, sans-serif;
	--title-bg-color: #eaeef8;
	--title-font: Hind, sans-serif;
	--text-font: Roboto, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

#logo {
#logo {
	width: 5em;
}

h1 {
h1 {
	font-size: 1.5em;
	color: white;
}
.bouton_menu {
	height: 3.5em;
	width: auto;
}

.dropDownMenu {
	border: solid 1px black;
	border-radius: 10px;
	display: none;
	position: absolute;
	right: 1em;
	background-color: white;
}

li {
	font-family: var(--text-font);
	line-height: 1.5em;
	padding: 0.8em;
	list-style: none;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

h2 {
	background-color: var(--title-bg-color);
	border: solid 1px var(--title-bg-color);
	font-family: var(--title-font);
	border-radius: 3px;
	margin: 2vh 4vw 2vh 4vw;

	@media screen and (min-width: 960px) {
		width: 20vw;
	}
}

h3 {
	font-size: 0.8em;
}

#status-category-article select {
	width: 6em;
}

.status {
	@media screen and (min-width: 960px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 2vw;
		margin-right: 2vw;
	}
}

footer {
	background-color: var(--primary-color);
}

footer p {
	width: 80vw;
	margin: auto;
	font-family: var(--text-font);
	line-height: 1.5em;
	font-size: 1.2em;
	text-align: center;
}

.visible {
	display: block;
	color: var(--title-bg-color);
}

header {
	background-color: var(--primary-color);
	display: flex;
	padding: 0.5em;
	justify-content: space-between;
	align-items: center;
}

#form-section {
	margin: 1em;
	background-color: #9379f8;
	padding: 0.5em;
}

#form-article {
	align-items: center;
}

#form-article {
	align-items: center;
}

#add-task {
	width: 20em;
	height: 2em;
	margin-bottom: 1em;
}

#status-category-article {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

button {
	all: unset;
}

button {
	all: unset;
}

#send-button {
	background-color: #8cd373;
	border-radius: 0.5em;
	width: 20em;
	height: 3em;
	padding: 0;
	font-family: var(--text-font);
	font-size: 1.2em;
	text-align: center;
	width: 20em;
	height: 3em;
	padding: 0;
	font-family: var(--text-font);
	font-size: 1.2em;
	text-align: center;
}

#filter {
	display: flex;
	margin: 1em;
	gap: 1em;
}
